<div ng-controller="splitController">
  <div>
    <a href="" class="lead logo pull-right no-box" ng-click="toggleChat()">Chat</a>
  </div>

  <div class="row">
    <div class="col-sm-9 screens">
      <div class="channel" ng-class="{grey: !splitOneVid }">
        <div class="form">
          <form ng-submit="submitOne(one)">
            <input type="text" ng-model="one" placeholder="channel 1">
            <input type="submit">
          </form>
        </div>
        <iframe ng-src="{{splitOneVid}}" frameborder="0" scrolling="no" height="100%;" width="100%" position="relative"></iframe>
      </div>
    </div>

    <div class="col-sm-3" ng-show="sideChat === true">

      <div ng-show="chatbox === 1">
        <iframe ng-src="{{splitOneChat}}" frameborder="0" scrolling="no" height="100%" width="100%;" position="relative"></iframe>
      </div>

    </div>
  </div>

</div>






