.top {
	padding: 55px 20px 85px 20px;
	background-color: black;
	height: 100%;
}

.form {
	height: 25px;
	display: inline-block;
	width: 100%;
}

.navbar-brand {
	margin-bottom: 0px;
	margin-top: 0px;
}

.navbar-default .navbar-brand, .logo {
	color: #6441A5;
}

.black {
	background-color: #212121;
}

.content {
	text-align: center;
	margin-top: 100px;
}

.banner h1 {
	font-size: 50px;
}

.grey {
	background-color: #111111;
	border-top: 1px solid black;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #282828;
}

.no-box {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.channel {
	z-index: 4;
}


@media (max-width: 991px) {
	.body {
		background-position: 50% 50%;
	}

}

@media (max-width: 768px) {
	.time {
		width: 60px;
	}
	.time p {
		font-size: 8px;
	}
	.banner h1 {
		font-size: 30px;
	}
}

